#!/usr/bin/env python

PACKAGE='qtnp_uav'
import roslib
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
#       Name       Type      Level Description     Default Min   Max
#  gen.add("message", str_t,    0,    "The message.", "hello")
#  gen.add("a",       int_t,    0,    "First number.", 1,     -100, 100)
gen.add("uav_id",int_t,0,"The UAV id.",1,1,10)
exit(gen.generate(PACKAGE, "qtnp_uav", "qtnp_uav_params"))